
/*css styling, coded by Selim Elsaify for techgrounds */
html{
 margin: 0 auto; 
}

*{
font-family: "verdana", sans-serif,Arial; 
    font-size: 1rem; 
    color: black; 
    text-decoration: none; 
}
body{
   background-image: radial-gradient(aqua, lightgreen, blue);
    background-position: center center; 
    background-size: cover; 
    background-repeat: no-repeat;
    box-sizing: border-box; 
    
}

hr {
    width: 100%; 
    height: 2px; 
    border: 1px solid #418C9F;
    border-radius: 5px; 
    outline: none;
    clear: both;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Trebuchet MS","Times"; 
    color: rgb(255, 0, 102);
    font-weight: bold; 
}
h1{
    font-size: 1.5em; 
}
h2{
    font-size: 1.2em; 
}
h3{
    font-size: 1em; 
}
h4{
    font-size: 0.9em; 
}

h5{
    font-size: 0.8em; 
}

h6{
    font-size: 0.6em; 
}

#mainNav{
    height: 40px; 
    width: 100%; 
    margin-bottom: 2rem; 
    position: fixed;



}
#mainNav ul{
    list-style-type: none;
    padding: 0; 
    margin: 0;
    border: none; 
    text-align: center;
    
}

#mainNav ul li{
    display: inline-block;
}

#mainNav ul li a {
    padding: 0 0.5rem; 
     color: white;
     font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    display: block;
    text-align: center;
    text-transform: capitalize;

  
  }
 
  #mainNav ul li a:hover {
    background-color: white;
    color: #005369;
    text-transform: uppercase;
}

#headings{
    clear: both; 
    padding-top: 0.5rem; 
}

.paragraaf img{
    width: 25px; 
    padding: 0 5px; 
    margin: 0; 
    border: none; 
}

 a.button {
    display: block;
    width: 90%;
    background-color: #D98A3F;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    border: 1px solid white;
    margin-top: 2rem; 
    border-radius: 5px;
    outline: none;
  }
  a.button:hover {
    border: 1px solid rgba(102, 0, 0, 0.5);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white; 
    background-color: rgb(255, 102, 255); 

 
}

 .noJS{
    display: inline-block;
    background-image: url("../images/loading.gif"); 
    background-repeat: no-repeat; 
    background-size: 10%; 
    background-position: top right; 
    width: 100%; 
    height: 150px; 
   }

.noJS h1{
 margin-bottom: 2.5rem; 
}

.noJS a {
    color: aqua; 
    text-transform: uppercase;
    text-decoration: underline; 
    font-weight: bolder; 
    cursor: pointer; 
}

p{
padding: 0.5rem; 
border: 1px solid red; 
border-radius: 10px; 
}
ul , ol {
 display: block; 
    position: relative; 
      
}

/* container & card styling */ 

#assignmentsContainer{
	box-sizing: border-box;
	width: 80%;
	padding: 1rem;
    display: inline-block; 
}

#assignmentsContainer > img {
	display: block;
	width: 128px;
	height: auto;
	margin: 4rem auto;
}

#assignmentsContainer .card > img{
	display: block;
    margin: 1.5rem auto;
    height: 200px; 
    object-fit: cover; 
}

/* lists styling*/ 

 #lists > ol{
  /*border: 2px dashed blue; */  
}

 #lists ol:nth-of-type(2){
  */ border: 2px dotted red; */  
}
#lists ol:nth-child(3n+1){
  /* border: 2px dotted yellow; */   
}
#last ul{
   
    padding: none; 
    margin: none; 
    list-style-type: none; 
    border: none; 
    
}
#last ul li{ 
display: inline-block; 
padding: 10px; 
margin-right: 20px;
text-align: center; 
height: 1rem; 
align-items: center; 
}

#last ul li a:hover{
color: white; 
font-size: 1rem;
font-weight: bold; 
text-decoration: underline; 
}
#last p, #last details{
 border: none; 
 font-size: 12px; 
    color: white; 
    text-align: center; 
}
